
obj/Debug/net6.0/Dolores.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Dolores.dll
obj/Debug/net6.0/Dolores.pdb
obj/Debug/net6.0/ref/Dolores.dll
obj/Debug/net6.0/refint/Dolores.dll
bin/Debug/net6.0/Dolores.pdb
bin/Debug/net6.0/Dolores.dll
bin/Debug/net6.0/config.json
.vs/Dolores/v17/.suo
obj/Debug/net6.0/Dolores.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Dolores.dll
obj/Debug/net6.0/refint/Dolores.dll
